/* For the main page */
.subtitle {
    font-style: italic;
}

img.exhibition {
    display:block;
    margin: 0 auto;
    border:1px solid #021a40;;
}

/*For the calculator */
.tooltip{
    cursor: help;
    text-decoration:underline;
}

.bciraTableRow{
    text-align:center;
}

#infodump{
    font-family:monospace;
    font-size:15px;
}

#investorParams{
    font-size:18px;
}

#infoTable{
    border-width: 2px;
    border-collapse: collapse;
    border-style: inset;
    border-color: blue;
    display:block;
    overflow-x: auto;
    white-space: nowrap;
}

footer{
    text-align: right;
    color: #7f7f7f;
    font-style: italic;
}
